@use "variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $color-fondo;
  font-family: Inter, Arial, sans-serif;
  line-height: 1.6;
}

.layout {
  display: grid;
  gap: 1.5rem;
}